<c-card>
  <c-card-header class="d-flex justify-content-between align-items-center">
    <h2>Votantes Habilitados</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <app-voter-form></app-voter-form>
      <button
        [cModalToggle]="'verticallyCenteredModal'"
        cButton color="info"
        shape="rounded-pill"
        variant="outline"
        class="mr-2">
        Agregar Votante
      </button>
    </div>
  </c-card-header>
  <c-card-body>
    <table cTable hover>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">Telefono</th>
        <th scope="col">Documento de Indentidad</th>
        <th scope="col">Edad</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Usuario</th>
        <th scope="col">Estado</th>
        <th scope="col">Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let voter of voters let i = index" >
        <th scope="row">{{ i + 1}}</th>
        <td>{{ voter.name }} {{voter.lastname}}</td>
        <td>{{ voter.phone }}</td>
        <td>{{ voter.identity_document}}</td>
        <td>{{ calculateAge(voter.birth_date) }}</td>
        <td>{{ voter.nationality_id }}</td>
        <td>{{ voter.user_id }}</td>
        <td>{{ voter.is_active }}</td>
        <td>
          <button cButton color="success"
                  shape="rounded-pill"
                  variant="ghost"
                  [routerLink]="['/voter/edit', voter.id]"
          >
            Edit
          </button>
          <button cButton color="danger"
                  shape="rounded-pill"
                  variant="ghost"
                  (click)="deleteVoter(voter.id)"
          >
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </c-card-body>
  <c-card-footer>
    <div class="flex justify-between">
      <p>Mostrando 1 a 10 de 50 resultados</p>
      <c-pagination></c-pagination>
    </div>
  </c-card-footer>
</c-card>
