<c-row class="mb-xxl-1">
  <c-col lg="3" xs="12">
    <c-widget-stat-f
      [title]="'Participacion'"
      class="mb-4"
      color="success"
      padding
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <a class="font-weight-bold font-xs text-medium-emphasis"
           href=""
           target="_blank">
          <div class="d-flex align-items-center justify-content-between">
            <span>Ver mas</span>
            <svg [cIcon]="icons.cilArrowRight" width="16"></svg>
          </div>
        </a>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f
      [title]="'Votantes'"
      class="mb-3"
      color="primary"
      padding
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <a class="font-weight-bold font-xs text-medium-emphasis"
           href="https://coreui.io/angular"
           target="_blank">
          <div class="d-flex align-items-center justify-content-between">
            <span>Ver mas</span>
            <svg [cIcon]="icons.cilArrowRight" width="16"></svg>
          </div>
        </a>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f
      [title]="'Boleta Electoral'"
      class="mb-3"
      color="success"
      padding
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <a class="font-weight-bold font-xs text-medium-emphasis"
           href="https://coreui.io/angular"
           target="_blank">
          <div class="d-flex align-items-center justify-content-between">
            <span>Ver mas</span>
            <svg [cIcon]="icons.cilArrowRight" width="16"></svg>
          </div>
        </a>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f
      [title]="'Candidatos'"
      class="mb-3"
      color="warning"
      padding
      value="89.9%"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChartPie" size="xl" width="24"></svg>
      </ng-template>
      <ng-template cTemplateId="widgetFooterTemplate">
        <a class="font-weight-bold font-xs text-medium-emphasis"
           href="https://coreui.io/angular"
           target="_blank">
          <div class="d-flex align-items-center justify-content-between">
            <span>Ver</span>
            <svg [cIcon]="icons.cilArrowRight" width="16"></svg>
          </div>
        </a>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>
