<c-card>
  <c-card-header class="d-flex justify-content-between align-items-center">
    <h2>Candidatos Habilitados</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        [routerLink]="['/candidates/register']"
        cButton color="info"
        shape="rounded-pill"
        variant="outline"
        class="mr-2">
        Agregar Candidato
      </button>
    </div>
  </c-card-header>
  <c-card-body>
    <table cTable hover>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">Telefono</th>
        <th scope="col">Edad</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Recidencia</th>
        <th scope="col">Usuario</th>
        <th scope="col">Estado</th>
        <th scope="col">Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let candidate of candidates let i = index" >
        <th scope="row">{{ i + 1}}</th>
        <td>{{ candidate.name }} {{candidate.lastname}}</td>
        <td>{{ candidate.phone }}</td>
        <td>{{ candidate.birth_date | edad }}</td>
        <td>{{ candidate.nationality_id }}</td>
        <td>{{ candidate.residence_id }}</td>
        <td>{{ candidate.user_id }}</td>
        <td>{{ candidate.status }}</td>
        <td>
          <button cButton color="success"
                  shape="rounded-pill"
                  variant="ghost"
                  [routerLink]="['/candidates/edit', candidate.id]"
          >
            Edit
          </button>
          <button cButton color="danger"
                  shape="rounded-pill"
                  variant="ghost"
                  (click)="deleteCandidate(candidate.id)"
          >
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </c-card-body>
  <c-card-footer>
    <div class="flex justify-between">
      <p>Mostrando 1 a 10 de 50 resultados</p>
      <c-pagination></c-pagination>
    </div>
  </c-card-footer>
</c-card>
