<c-card class="border border-primary">
  <c-card-header class="border-top border-top-primary border-3">
    <h2>Listado de Usuarios</h2>
  </c-card-header>
  <c-card-body>
    <table cTable hover striped>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Activo</th>
        <th scope="col">Es Admin</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users let i = index">
        <th scope="row">{{ i + 1}}</th>
        <th>{{ user.username}}</th>
        <td>{{ user.email}}</td>
        <td>{{ user.full_name}}</td>
        <td>{{ user.is_active}}</td>
        <td>{{ user.is_admin}}</td>
      </tr>
      </tbody>
    </table>
  </c-card-body>
  <c-card-footer>
    <button cButton color="success" variant="ghost" (click)="openModal()">Registrar</button>
    <button cButton color="info" variant="ghost" (click)="openModal()">Editar</button>
    <button cButton color="danger" variant="ghost" (click)="openModal()">Eliminar</button>
  </c-card-footer>
</c-card>


